<% if action_name != "show" %>
  <a href='pessoas/<%= pessoa.id %>'>
  <div id="<%= dom_id pessoa %>" class="flex justify-between bg-white shadow my-1 py-2 w-full lg:px-4 border border-gray-300">
    <li class="flex justify-between items-center bg-white mt-2 p-2 hover:shadow-lg rounded cursor-pointer transition">
        <div class="flex ml-2"> 
          <% if pessoa.imagem.attached? %>
              <%= image_tag(pessoa.imagem, class: 'w-[50px] h-[50px] rounded-full') %>
          <% else %>
            <% if pessoa.genero === 'Feminino' %>
              <img src="https://i.imgur.com/aq39RMA.jpg" width="50" height="50" class="rounded-full">
            <% else %>
              <img src="https://imgpile.com/images/TeOqrx.jpg" width="50" height="50" class="rounded-full">
            <% end %>
          <% end %>  
          <div class="flex flex-col ml-2"> 
            <span class="font-medium text-black truncate">
              <%= pessoa.nome %> <%= pessoa.sobrenome %>
            </span> 
            <% if pessoa.data_nascimento.present? %>
            <span class="flex justify-between text-sm text-gray-600 w-48">
              <%= pessoa.data_nascimento.strftime('%d/%m/%Y') %> - <%= ((Time.zone.now - pessoa.data_nascimento.to_time) / 1.year.seconds).floor if pessoa.data_nascimento.present? %> anos
              <% if pessoa.data_nascimento.strftime('%d/%m') === Date.today.strftime('%d/%m') %>
                <% if pessoa.genero === 'Masculino'
                  cor_ico = '#5178b3'
                else 
                  cor_ico = '#ce788c'
                end %>
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" width="16px" height="16px" fill=<%= cor_ico %> ><path d="M448 384c-28.02 0-31.26-32-74.5-32-43.43 0-46.825 32-74.75 32-27.695 0-31.454-32-74.75-32-42.842 0-47.218 32-74.5 32-28.148 0-31.202-32-74.75-32-43.547 0-46.653 32-74.75 32v-80c0-26.5 21.5-48 48-48h16V112h64v144h64V112h64v144h64V112h64v144h16c26.5 0 48 21.5 48 48v80zm0 128H0v-96c43.356 0 46.767-32 74.75-32 27.951 0 31.253 32 74.75 32 42.843 0 47.217-32 74.5-32 28.148 0 31.201 32 74.75 32 43.357 0 46.767-32 74.75-32 27.488 0 31.252 32 74.5 32v96zM96 96c-17.75 0-32-14.25-32-32 0-31 32-23 32-64 12 0 32 29.5 32 56s-14.25 40-32 40zm128 0c-17.75 0-32-14.25-32-32 0-31 32-23 32-64 12 0 32 29.5 32 56s-14.25 40-32 40zm128 0c-17.75 0-32-14.25-32-32 0-31 32-23 32-64 12 0 32 29.5 32 56s-14.25 40-32 40z"/></svg>                
              <% end %>
            </span>
            <% end %>
          </div>
        </div>
    </li>
  </div>
  </a>
<% else %>

<div id="<%= dom_id pessoa %>">

  <div class="flex bg-white shadow-md p-4 mt-4 rounded-lg">

    <div class="flex flex-wrap -mx-3 mb-3 p-4">

        <div class="relative w-full flex flex-wrap items-center text-gray-500 mt-2">

          <% if pessoa.imagem.attached? %>
              <%= image_tag(pessoa.imagem, class: 'rounded-full w-[100px] h-[100px]') %>
          <% end %>     
          <div class="sm:w-3/4 font-bold text-xl mb-2 text-gray-600 w-full mx-4"><%= pessoa.nome %> <%= pessoa.sobrenome %></div>

        </div>

        <hr class="my-6 border-gray-700" />

        <p class="w-full sm:w-1/3 text-gray-500 mt-2">
          <strong class="block font-medium text-gray-600 text-xs">Genero:</strong>
          <%= pessoa.genero %>
        </p>

        <p class="w-full sm:w-1/3 text-gray-500 mt-2">
          <strong class="block font-medium text-gray-600 text-xs">Estado Civil:</strong>
          <%= pessoa.estado_civil %>
        </p>

        <p class="w-full sm:w-1/3 text-gray-500 mt-2">
          <strong class="block font-medium text-gray-600 text-xs">Grau de Parentesco:</strong>
          <%= pessoa.grau_parentesco %>
        </p>

        <p class="w-full sm:w-3/12 text-gray-500 mt-2">
          <strong class="block font-medium text-gray-600 text-xs">Telefone:</strong>
          <%= pessoa.telefone %>
        </p>

        <p class="w-full sm:w-3/12 text-gray-500 mt-2">
          <strong class="block font-medium text-gray-600 text-xs">Celular:</strong>
          <%= pessoa.celular %>
        </p>

        <p class="w-full sm:w-6/12 text-gray-500 mt-2">
          <strong class="block font-medium text-gray-600 text-xs">Email:</strong>
          <%= pessoa.email %>
        </p>

        <p class="w-full sm:w-9/12 text-gray-500 mt-2">
          <strong class="block font-medium text-gray-600">Logradouro:</strong>
          <%= pessoa.logradouro %>
        </p>

        <p class="w-full sm:w-3/12 text-gray-500 mt-2">
          <strong class="block font-medium text-gray-600">Numero:</strong>
          <%= pessoa.numero %>
        </p>

        <p class="w-full sm:w-6/12 text-gray-500 mt-2">
          <strong class="block font-medium text-gray-600">Complemento:</strong>
          <%= pessoa.complemento %>
        </p>

        <p class="w-full sm:w-6/12 text-gray-500 mt-2">
          <strong class="block font-medium text-gray-600">Bairro:</strong>
          <%= pessoa.bairro %>
        </p>

        <p class="w-full sm:w-7/12 text-gray-500 mt-2">
          <strong class="block font-medium text-gray-600">Cidade:</strong>
          <%= pessoa.cidade %>
        </p>

        <p class="w-full sm:w-2/12 text-gray-500 mt-2">
          <strong class="block font-medium text-gray-600">Estado:</strong>
          <%= pessoa.estado %>
        </p>

        <p class="w-full sm:w-3/12 text-gray-500 mt-2">
          <strong class="block font-medium text-gray-600">Cep:</strong>
          <%= pessoa.cep %>
        </p>        

        <p class="w-full sm:w-4/12 text-gray-500 mt-2">
          <strong class="block font-medium text-gray-600">Data nascimento:</strong>
          <%= pessoa.data_nascimento.strftime('%d/%m/%Y') if pessoa.data_nascimento.present? %>
        </p>

        <p class="w-full sm:w-4/12 text-gray-500 mt-2">
          <strong class="block font-medium text-gray-600">Data falecimento:</strong>
          <%= pessoa.data_falecimento.strftime('%d/%m/%Y') if pessoa.data_falecimento.present? %>
        </p>

        <p class="w-full sm:w-4/12 text-gray-500 mt-2">
          <strong class="block font-medium text-gray-600">Data batismo:</strong>
          <%= pessoa.data_batismo.strftime('%d/%m/%Y') if pessoa.data_batismo.present? %>
        </p>        

        <p class="w-full text-gray-500">
          <strong class="block font-medium mb-1 text-gray-600">Bio:</strong>
          <%= pessoa.bio %>
        </p>        

      </div>

  </div>

</div>

<% end %>