<div class="flex flex-col w-full bg-white shadow">

  <%= form_with(url: grupos_path, method: :get, data: { controller: "search-grupo", search_form_target: "form", turbo_frame: "grupos", turbo_action: "advance" }, class: "sm:w-1/4 m-4") do |form|%>
      <label for="default-search" class="mb-2 text-sm font-medium text-white sr-only">Localizar</label>
      <div class="relative">
          <div class="flex absolute inset-y-0 left-0 items-center pl-3 pointer-events-none">
              <svg aria-hidden="true" class="w-5 h-5 text-gray-500" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"></path></svg>
          </div>
          <%= form.text_field :query, data: { action: "input->search-grupo#search" }, placeholder: "Localizar Grupo...", class: "block p-4 pl-10 w-full text-sm text-gray-900 bg-white rounded-lg focus:ring-blue-500 focus:border-blue-500" %>
          <%= form.submit "Localizar", class: "text-white absolute right-2.5 bottom-2.5 bg-gray-500 hover:bg-gray-600 border border-gray-200 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2" %>
      </div>
  <% end %>
    
  <div class="flex justify-between w- h-16 content-center items-center">
    <p class="w-full py-2 mx-4 text-lg text-gray-700">Listagem dos Grupos</p>
    <%= link_to 'Novo', new_grupo_path, class: "flex py-2 h-9 rounded-lg px-5 mx-10 bg-blue-700 hover:bg-blue-800 text-sm text-white block font-medium" %>
  </div>

</div>

<div>
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>
</div>

<div id="pessoas" class='flex flex-col overflow-x-auto w-full min-h-screen'>

    <%= render "grupos", grupos: @grupos %>

    <div class="max-w-content flex flex-row flex-no-wrap my-5 mx-10 text-xs text-gray-700">
      <%== pagy_nav(@pagy) %>
    </div>
</div>
</div>