<!DOCTYPE html>
<html>
  <head>
    <title><%= Figaro.env.app_name%></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>

    <%= javascript_include_tag Ckeditor.cdn_url %>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <style>
        * {
        -webkit-box-sizing:border-box;
        box-sizing:border-box;
        overflow-x: hidden !important;
        }
      
        html,
        body {
          height: 100%;
        }

        @media (min-width: 640px) {
          table {
            display: inline-table !important;
          }

          thead tr:not(:first-child) {
            display: none;
          }
        }

        td:not(:last-child) {
          border-bottom: 0;
        }

        th:not(:last-child) {
          border-bottom: 2px solid rgba(0, 0, 0, .1);
        }
      </style>
  </head>

  <body>
      <div class="py-5 px-3 bg-blue-700 sm:hidden">
        <h2 class="text-1xl font-medium text-white"><%= Figaro.env.app_name %></h2>
      </div>
      <div class="flex flex-direction-row">
        <%= render '/shared/sidebar' %>
        <div class="w-full h-screen bg-gray-300">
          <%= yield %>
        </div>
      </div>   
  </body>
</html>